/* The styles for the bookmarklet itself */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto+Mono:wght@300&display=swap');

:root {
  --box-padding: 20px;
  --hor-margin: 0.5em;
}

body {
  margin:0px;
  background-color:#151515;
  color:#CCCCCC;
  font-size:20px;
  font-family:'Montserrat', sans-serif;
}

/* main container for generated content */
#newContent {
  /* for IE 11; will get overridden by the grid syntax by real browsers */
  display: flex;
  flex-wrap: wrap;

  display: grid;
}
  /* Change the number of columns to two when the screen is narrow */
@media only screen and (max-width: 1023px) {
	#newContent {
    grid-template-columns: auto;
	}
}
@media only screen and (min-width: 1024px) {
	#newContent {
    grid-template-columns: auto auto;
	}
}
@media only screen and (min-width: 1420px) {
	#newContent {
    grid-template-columns: auto auto auto;
	}
}

#backBtn {
  cursor: pointer;
  border:1px solid #CCCCCC;
  background-color: black;
  display:inline;
  padding:3px 10px 3px 10px;
  border-bottom-left-radius: 10px;
  position:absolute;
  top:0px;
  right:0px;
}

/* container for each department */
.department {
  flex-basis:500px; /* for IE11 */
  background: linear-gradient(160deg, /*rgba(255,255,255,0.09) 0%,*/ rgba(220,255,220,0.05) 0%, rgba(0,0,0,0) 100%);
  padding-bottom:20px;
  padding-bottom:var(--box-padding);
}

/* account numbers */
.dept-number {
  font-family:'Roboto Mono', sans-serif;
  opacity:0.6;
  float:left;
  margin-right:0.5em;
  margin-right:var(--hor-margin);
  background: linear-gradient(90deg, rgba(220,100,255,.1) 0%, rgba(220,100,255,.1) 100%);


  /*margin:auto;
  padding-right:15px;
  padding-left:10px;
  position:absolute;
  transform:translateX(-100%);
  border-bottom-left-radius:100px;
  border-top-left-radius:100px;*/
  /*background:linear-gradient(to right, rgba(30, 200, 30, 0.1) 0%, rgba(100, 255, 100, 0.1) 25%, rgba(100, 255, 100, 0) 100%);*/
}

.dept-name {
  background: linear-gradient(90deg, rgba(255,255,255,.02) 50%, rgba(255,255,255,.05) 100%);
}

/* department names and account numbers are <h1> tags */
h1 {
  text-shadow:1px 1px 3px rgba(0,0,0,.4);
  font-weight:lighter;
  line-height:1em;
  margin:0px;
  padding:10px;
}

/* where the actual o/c names and times are displayed */
/* .dept-info is the parent of .call-entry, and sister to the dept-name and account-number h1's */
.dept-info {
  border-left:8px solid #333333;
  margin-left:20px;
  margin-top: 20px;
  margin-top: var(--box-padding);
  color:#888888;
}

/* parent div of .provider-name, .time, and .description */
.call-entry {
  display:flex;
}

.provider-name, .time, .description {
  margin-left:0.5em;
  margin-left:var(--hor-margin);
}

/* provider names */
.provider-name {
  color:#99B090;
}

/* o/c time */
.time {
  color:#999999;
}

.description {
  color:#666666;
}

/* Set the display order of all the departments */
#CriticalCarePulmonology { order:100; }
#Endocrinology { order:10; }
#Gynecology { order:20; }
#HematologyOncology { order:00; }
#Hospitalists { order:30; }
#IDImmunoInfControl { order:40; }
#NeurologyStPaulChildrens { order:60; }
#Neurosurgery { order:70; }
#OrthopedicSurgery { order:80; }
#PainPalliativeCare { order:90; }
#PediatricsClinicMinneapolis { order:50; }
#PediatricsClinicStPaul { order:110; }
#SurgicalSpecialties { order:85; }
#TraumaService { order:120; }
#Urology { order:125; }
